/* Font scale 4.209 / 3.157 / 2.369 / 1.777 / 1.333 / 1 / .75 / .563 / .422  */
:root {
    --main-color: rgba(46, 0, 0, 0.8);
}

html {
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600 !important;
}

#bg-picture {
    background-image: url(img/pexels-pixabay-260922.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: bottom;
    width: 100vw;
    height: 75vh;
}
#bg-picture-menu {
    background-image: url(img/bg-menu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 75vh;
}

.bg-dark {
    background-color: var(--main-color) !important; 
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    font-size: 1rem;
    z-index: 2000
}

.title {
    text-transform: uppercase;
    color: aliceblue;
    font-weight: 800;
    font-size: 4.209rem;
}

.title-sm-bottom {
    margin-top: -.5rem;
    text-transform: uppercase;
    color: aliceblue;
    font-size: 2.369rem;
}

.nav-text {
    font-size: 1.333rem;
    font-weight: 600;
}

.nav-link.active {
    color: aqua;
}

.specials {
    font-size: 4.209rem;
    text-transform: uppercase;
    font-weight: 600;
}

.specials-caption {
    font-weight: inherit;
    font-size: 1.777rem;
}

.specials-description {
    font-size: 1rem;
    transition: 1ms ease-in-out;
}

.specials-link {
    color: white;
    text-decoration: none;
    
}

.specials-link:hover {
    text-decoration: none;
    font-size: 1.9rem;
    transform: translateY(100px);
    color: rgba(255, 172, 0, 1);
}

.btn-custom {
    font-size: 1.777rem;
    font-weight: inherit;
    color: white;
    background-color: var(--main-color);
}
.btn-custom:hover {
    color: rgba(255, 172, 0, 1);
    background-color: var(--main-color);
    
}

.carousel-caption {
    background-color: var(--main-color);
}
.aboutus {
    font-size: 4.209rem;
    text-transform: uppercase;
    font-weight: 600;
}

.row-content {
    padding: 50px 0;
    border: 1px ridge;
    min-height: 200px; }

.nav-obj {
        font-size: 3rem;
    }
 small {
        font-weight: inherit;
        font-size: 15px;
    }

h4 {
    font-weight: inherit;
    color: black;
    text-align: center;
}

.card-img-top {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

.card-title {
    font-weight: 700;

}

.menu-text {
    color: var(--main-color);
}

.carousel-item img {
    height: 60vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

